@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, sans-serif;
  color-scheme: light dark;
}

:root[data-theme='light'],
html.light {
  color-scheme: light;
}

:root[data-theme='dark'],
html.dark {
  color-scheme: dark;
}

body {
  margin: 0;
}
